<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Board</title>
</head>

<body>
    <section id="boggle">
        <h1>Boggle Board</h1>
        <table>
            <tbody>
                {% for row in board %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>Highscore: {{ highscore }} in {{ nplays }}</p>
        <p>Score: <b id="score">0</b>
            Second Left: <b id="timer"></b>
        </p>

        <form method="POST" id="add-word">
            <input type="text" id="word-guess" name="word-guess" autofocus>
            <button id="submit-btn">Submit</button>
        </form>

        <p class="msg"></p>

        <ol class="words">

        </ol>
    </section>


    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    <script>
        let game = new BoggleGame("boggle", 60);
    </script>
</body>

</html>
