{% extends 'base.html' %}

{% block content %}

<h1>{{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="img-fluid" src="{{ pet.photo_url }}">
{% endif %}

<p><b>Details</b></p>

<p>Species: {{ pet.species }}</p>
    {% if pet.age %}
<p>Age: {{ pet.age }}</p>
    {% endif %}

<h1>Edit Pet</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <p>
      {{field.label}}
      {{field}}

      {% for err in field.errors %}
      {{err}}
      {% endfor %}
    </p>
    {% endfor %}
    <button>Submit</button>
  </form>

  {% endblock %}
