{% extends "base.html" %}

{%block content%}
<h1>Create a user</h1>
<div>
    <form method="POST">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" placeholder="Enter a first name" name="first_name">
        </div>

        <div>
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" placeholder="Enter a last name" name="last_name">
        </div>

        <div>
            <label for="img_url">Image URL</label>
            <input type="text" id="img_url" name="img_url">
        </div>

        <div>
            <button>Add</button>
        </div>
    </form>
</div>

{% endblock %}
