.Deck {
    text-align: center;
}

.Deck-gimme {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 0 10px;
}

.Deck-cardarea {
    margin-top: 80px;
}

.Deck-autodraw {
    padding: 15px;
    background-color: teal;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 0 10px;
}
