{% extends "base.html" %}

{%block content%}

<h1>Edit Post</h1>

<div>
    <form method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>

        <div>
            <a href="/users/{{post.user.id}}">Cancel</a>
        </div>

        <div>
            <button>Edit</button>
        </div>

    </form>
</div>
{% endblock %}
